*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-contact {
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #fd6e0a;
    color: #fd6e0a;
    padding: 15px 30px;
}
.btn-primary{
    height: 50px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 15px 30px;
    color: white;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 0 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}

/* banner style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: -5px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-dec{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* about me section */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin: 150px 150px;
    
}
.about-me{
    background-color: #FFF8F3;
    padding: 130px 155px;
    text-align: center;
}
.scetion-title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.section-dec{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-title{
    color: #757575;
    font-size: 16px;
}
.info-dec{
    font-size: 18px;
}

/* what I do section */
.what-I-do{
    padding: 130px 155px;
    text-align: center;
}

.what-i-do-box{
    max-width: 1140px;
}
.box-content{
    display: flex;
    gap: 50px;
}
.box-info {
    width: 163px;
    box-shadow: 5px 10px 10px rgb(208, 206, 206);
    /* margin-right: 60px; */
    padding: 31px;
  }
  .box-content {
    display: flex;
    justify-content: space-evenly;
  }
  .box-info img {
    margin-bottom: 20px;
  }
  .box-info h3{
    margin-bottom: 20px;
  }
  .box-info p{
    color: #757575;
  }

  /* resume section */

.my-resume{
    margin-top: 150px;
}
.info{
    margin-top: 100px;
}
.info-details{
    margin-bottom: 50px;
}
.info-h3{
    font-size: 25px;
    margin-bottom: 20px;
    color: #474747;
}
.info-h4{
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}
.info-h5{
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 15px;
}
.info-p{
    color: #757575;
    font-size: 13px;
    border-bottom: 1.5px solid #b2b2b2;
    padding-bottom: 20px;
}
.resume-btn {
    text-align: center;
}
.first-2{
    display: flex;
    justify-content: space-around;
}
.second-2{
    display: flex;
    justify-content: space-around;
}
.last-2{
    display: flex;
    justify-content: space-around;
}
/* footer section */

footer{
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: #fff8f3;
    padding: 150px 0;
}
.let-h3 {
    font-size: 30px;
    margin-bottom: 25px;
}
.let-connect p {
    width: 530px;
    margin-bottom: 25px;
}
.let-icon img {
    margin-right: 15px;
}
form{
    margin-bottom: 10px;
}
form input {
    display: block;
    border: none;
    padding: 15px 140px 15px 10px;
    margin: 10px 0px;
    border-radius: 5px;
}
form textarea {
    border: none;
    padding: 15px 87px 0px 10px;
}